insmod all_video
insmod vbe
insmod vga
insmod gfxterm
insmod font
insmod png

set timeout=3
set default=0

# Aktifkan mode grafis agar GRUB mengirimkan Framebuffer Tag (Tag 8) ke kernel
if loadfont /boot/grub/fonts/unicode.pf2; then
    set gfxmode=1024x768x32,1280x720x32,auto
    terminal_output gfxterm
fi

menuentry "AetherOS v10.4 (Sovereign Desktop)" {
    set gfxmode=1280x720x32
    set gfxpayload=keep
    multiboot2 /boot/aetheros_kernel
    boot
}

menuentry "AetherOS v10.4 (VGA Fallback)" {
    set gfxpayload=text
    multiboot2 /boot/aetheros_kernel
    boot
}
